
body {
  margin: 0;
  overflow: scroll;
  
}
/* .city {
  fill: red;
  stroke: #fff;
  stroke-width: 2px;
} */
h1 {
color: darkblue;
    display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container {
  position: bottom;
  top: 0;
  left: 0;
  right:0;
  display:flex;
  display:relative;
  justify-content:space-around;
}



.slider {
  width: 40%;

}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

#outer
{
  width:100%;
  margin-right:auto;
  margin-left:0px;
  padding-left:0px;
  text-align: center;
}
.inner
{
  display: inline-block;
}